<!--Heredamos la layout-->
{% extends 'layouts/layout.html' %}

<!--Cargamos el bloque del titulo-->
{%block title%}{{title}}{%endblock%}

<!--Cargamos el bloque del contenido html-->
{% block  content%}
    <h1>{{title}}</h1>
    
    <!--Mostrar los errores en caso de tener-->
    {{register_form.errors}}

    <!--Mostramos el formulario de login-->
    <form method='post' action=''>
        {% csrf_token %}

        {% comment "Alternativa para mostrar formulario" %}
        {{register_form.as_p}}
        {% endcomment %}
        {% for field in register_form %}
            {{field.label}} </br>
            {{field}} </br>
        {% endfor %}
        <input type="submit" value="Registrarse"/>
    </form>
{% endblock  %}